
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item(s) shiped Successfully!</h2>

@Html.ActionLink("Back to Cart", "Index")
<span style="float: right">
    @Html.ActionLink("Go to My Orders", "Index", "MyOrders")
</span>

