html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #F4F4F4;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 35px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

form {
    margin: 0 auto;
}

.box-form {
    background-color: #ffffff;
    width: 90%;
    max-width: 450px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 20px;
    margin-top: 50px;
}

    .box-form h4 {
        background-color: #6498FE;
        margin: -20px;
        padding: 20px;
        color: #ffffff;
    }

.input-group .form-control {
    padding: 20px 10px;
}

.navbar-default li a {
    transition: 200ms;
}

    .navbar-default li a:hover, .navbar-default li a:focus, .navbar-default li.active a {
        background-color: #636d80 !important;
        color: #ffffff !important;
    }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #2f3a4e;
}

    footer a {
        color: #ffffff;
    }



/*search box*/
#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

    #custom-search-input input {
        border: 0;
        box-shadow: none;
    }

    #custom-search-input button {
        margin: 2px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        border-left: solid 1px #ccc;
    }

        #custom-search-input button:hover {
            border: 0;
            box-shadow: none;
            border-left: solid 1px #ccc;
        }

    #custom-search-input .glyphicon-search {
        font-size: 23px;
    }

.disc {
    float: left;
    margin: 10px 17px 10px 3px;
    background-color: #ffffff;
    width: 243px;
    height: 430px;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
}

.disc-img {
    width: 243px;
    height: 217px;
    background-size: cover;
}

.disc-title {
    font-weight: bold;
    font-size: 17px;
    padding: 10px 10px 0 10px;
}

.disc-artist {
    font-size: 16px;
    padding: 1px 10px;
}

.disc-price {
    font-weight: bold;
    font-size: 17px;
    padding: 10px 10px 0 10px;
}

.disc-category {
    font-size: 13px;
    padding: 0 10px;
}

.add-to-cart {
    position: absolute;
    bottom: 12px;
    left: 16px;
    width: 87%;
    border: 2px solid #ED0677;
    background-color: #ffffff;
    padding: 10px;
    outline: none;
    font-size: 13px;
    transition: 200ms;
}
.add-to-cart:hover {
    background-color: #ed0677;
    color: #ffffff;
}

/*lion and maria CSS code*/


.user-row {
    margin-bottom: 14px;
}

    .user-row:last-child {
        margin-bottom: 0;
    }

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

    .dropdown-user:hover {
        cursor: pointer;
    }

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

    .table-user-information > tbody > tr:first-child {
        border-top: 0;
    }


    .table-user-information > tbody > tr > td {
        border-top: 0;
    }

.toppad {
    margin-top: 20px;
}

    
.box-form1 {
    background-color: #ffffff;
    width: 45%;
    max-width: 430px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 20px;
    padding-top: unset;
}