
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
    <style>
        body {
            text-align: center;
            background-color: #F4F4F4;
            padding: 20px;
        }

        h1, h3 {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 500;
            line-height: 1.1;
        }

        div {
            font-size: 100px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body>
    <div>Oops..</div>
    <h1>We're sorry, but something went wrong.</h1>
    <h3>We're working on it.</h3>
    <h3>@ViewBag.msg</h3>

</body>
</html>