@model Vladi2.Models.Topic

@{
    ViewBag.Title = "ReadTopic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head></head>

<body>

       <h2>@Model.Title</h2>
    <div class="container">
        <div class="col-md-offset-11">
            <a href="#Add"><span class="glyphicon glyphicon-plus"></span>New Comment</a>
        </div>

        @*@{int i = 1;}*@

        @for (int i = 1; i <= Model.Comments.Count; ++i)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title" style="padding-bottom: 15px;">
                        <div class="pull-left">
                            #@i
                        </div>
                        <div class="pull-right">
                            @Model.Comments[i - 1].CommentTime
                            @*@comment.CommentTime*@
                        </div>
                    </div>
                </div>
                <div class="row panel-body">
                    <div class="col-md-10">
                        @Model.Comments[i - 1].Text
                        @*@comment.Text*@
                    </div>
                    <div class="col-md-2" style="text-align:center;">
                        <div class="well">
                            <b>@*@comment.CommentUser*@@Model.Comments[i - 1].CommentUser</b>
                            <br />
                            <img class="img-rounded" src="http://www.webdesignforums.net/img/wdf_avatar.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        }

        @*@foreach (var comment in Model)
        {
            


            i = i + 1;
        }*@
        <div>
            <h1 id="Add">Add Comment</h1>
        </div>
        @using (Html.BeginForm("addTopic", "Forum", FormMethod.Post))
        {
            Vladi2.Models.Comment c = new Vladi2.Models.Comment();

            //List<Vladi2.Models.Comment> l = Model as List<Vladi2.Models.Comment>;

            c.CommentTime = DateTime.Now;
            c.CommentUser = (Session["myUser"] as Vladi2.Models.User).UserName;
            //l.Add(c);
            Model.Comments.Add(c);

            @Html.EditorFor(model => (model.Comments.Last()).Text, new { htmlAttributes = new { @class = "area" } })

            <div class="row">
                <div class="col-md-1">
                    <input type="submit" value="Add" class="btn btn-primary small-btn" />
                </div>

                <div>
                    <input type="reset" value="Clear" class="btn btn-danger small-btn" />
                </div>
           </div>
        }
    </div>
</body>

<style>
    .col-md-offset-11 {
        margin-left: 88%;
        margin-bottom: 12px;
    }

    textarea{
        max-width:500px;
    }

    .area {
        width: 500px;
        height: 150px;
        border: 1px solid #cccccc;
        padding: 6px 12px;
        margin-bottom: 10px;
    }

    h1{
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .small-btn {
        width: 70px;
    }
</style>
